In [1]:
import pandas as pd

In [5]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)

In [3]:
!pwd

/Users/jessy/slowfast/slowfast

In [83]:
def get_selected_frame_lists(infile_path, outfile_path):
    train = pd.read_csv(infile_path)
    print(f"train.shape: {train.shape}")
    df_train = pd.DataFrame(train.iloc[:,0].str.split(' ').tolist(),
                                 columns = ['original_vido_id','video_id', 'frame_id', 'path', 'labels'])
    targeted_vido = ['_-Z6wFjXtGQ', '_7oWZq_s_Sk', '_145Aa_xkuE', '_a9SWtcaNj8', '_Ca3gOdOHxU']
    df_target = df_train[df_train.original_vido_id.isin(targeted_vido)]
    print(f"df_target.shape: {df_target.shape}")
    df_target['original_vido_id video_id frame_id path labels'] = df_target.apply(lambda x: ' '.join(x.astype(str)),axis=1)
    df_target.drop(columns=['original_vido_id', 'video_id', 'path', 'labels', 'frame_id'], inplace=True)
    print(f"final df_target.shape: {df_target.shape}")
    df_target.to_csv(outfile_path, index=False, header=None)

In [86]:
def get_selected_annotation(infile, outfile):
    train = pd.read_csv(infile, header=None)
    print(f"train.shape: {train.shape}")
    targeted_vido = ['_-Z6wFjXtGQ', '_7oWZq_s_Sk', '_145Aa_xkuE', '_a9SWtcaNj8', '_Ca3gOdOHxU']
    df_target = train[train[0].isin(targeted_vido)]
    print(f"df_target.shape: {df_target.shape}")
    df_target.to_csv(outfile, header=None, index=False)

In [85]:
get_selected_frame_lists('data/ava/frame_lists/train.csv', 'data/ava/frame_lists_new/train.csv')

train.shape: (6352104, 1)
df_target.shape: (108120, 5)

<ipython-input-83-f7d894879bad>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target['original_vido_id video_id frame_id path labels'] = df_target.apply(lambda x: ' '.join(x.astype(str)),axis=1)
/Users/jessy/opt/anaconda3/envs/slowfast/lib/python3.9/site-packages/pandas-1.2.0rc0-py3.9-macosx-10.9-x86_64.egg/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [87]:
get_selected_frame_lists('data/ava/frame_lists/val.csv', 'data/ava/frame_lists_new/val.csv')

train.shape: (1729931, 1)
df_target.shape: (27030, 5)

<ipython-input-83-f7d894879bad>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target['original_vido_id video_id frame_id path labels'] = df_target.apply(lambda x: ' '.join(x.astype(str)),axis=1)

In [91]:
get_selected_frame_lists('data/ava/frame_lists/train.csv', 'data/ava/frame_lists_new/train.csv')

train.shape: (6352104, 1)
df_target.shape: (108120, 5)

<ipython-input-83-f7d894879bad>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target['original_vido_id video_id frame_id path labels'] = df_target.apply(lambda x: ' '.join(x.astype(str)),axis=1)
/Users/jessy/opt/anaconda3/envs/slowfast/lib/python3.9/site-packages/pandas-1.2.0rc0-py3.9-macosx-10.9-x86_64.egg/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [88]:
get_selected_annotation('data/ava/annotations/ava_train_v2.1.csv', 'data/ava/annotations_new/ava_train_v2.1.csv')

train.shape: (837318, 8)
df_target.shape: (17697, 8)

In [89]:
get_selected_annotation('data/ava/annotations/ava_val_v2.1.csv', 'data/ava/annotations_new/ava_val_v2.1.csv')

train.shape: (237140, 8)
df_target.shape: (2755, 8)

In [92]:
get_selected_annotation('data/ava/annotations/ava_val_predicted_boxes.csv', 'data/ava/annotations_new/ava_val_predicted_boxes.csv')

train.shape: (155780, 8)
df_target.shape: (2239, 8)

In [93]:
get_selected_annotation('data/ava/annotations/ava_train_predicted_boxes.csv', 'data/ava/annotations_new/ava_train_predicted_boxes.csv')

train.shape: (1033086, 8)
df_target.shape: (21109, 8)

In [6]:
file_path='/Users/jessy/slowfast/slowfast/data/ava/frame_lists_new/train.csv'
train = pd.read_csv(file_path, header=None)
print(train.shape)
train.head()

(108120, 1)

                                                   0
0  _-Z6wFjXtGQ 134 0 _-Z6wFjXtGQ/_-Z6wFjXtGQ_0000...
1  _-Z6wFjXtGQ 134 1 _-Z6wFjXtGQ/_-Z6wFjXtGQ_0000...
2  _-Z6wFjXtGQ 134 2 _-Z6wFjXtGQ/_-Z6wFjXtGQ_0000...
3  _-Z6wFjXtGQ 134 3 _-Z6wFjXtGQ/_-Z6wFjXtGQ_0000...
4  _-Z6wFjXtGQ 134 4 _-Z6wFjXtGQ/_-Z6wFjXtGQ_0000...

In [7]:
train.iloc[0,:]

0    _-Z6wFjXtGQ 134 0 _-Z6wFjXtGQ/_-Z6wFjXtGQ_0000...
Name: 0, dtype: object

In [94]:
file_path='data/ava/annotations_new/ava_train_v2.1.csv'
train = pd.read_csv(file_path, header=None)
print(train.shape)
train.head()

(17697, 8)

             0    1      2      3      4      5   6  7
0  _-Z6wFjXtGQ  902  0.063  0.049  0.524  0.996  12  0
1  _-Z6wFjXtGQ  902  0.063  0.049  0.524  0.996  74  0
2  _-Z6wFjXtGQ  902  0.063  0.049  0.524  0.996  80  0
3  _-Z6wFjXtGQ  902  0.392  0.253  0.916  0.994  12  1
4  _-Z6wFjXtGQ  902  0.392  0.253  0.916  0.994  17  1

In [55]:
train.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [56]:
targeted_vido = ['_-Z6wFjXtGQ', '_7oWZq_s_Sk', '_145Aa_xkuE', '_a9SWtcaNj8', '_Ca3gOdOHxU']
df_target = train[train[0].isin(targeted_vido)]
print(df_target.shape)
df_target.head()

(17697, 8)

                  0    1      2      3      4      5   6  7
471309  _-Z6wFjXtGQ  902  0.063  0.049  0.524  0.996  12  0
471310  _-Z6wFjXtGQ  902  0.063  0.049  0.524  0.996  74  0
471311  _-Z6wFjXtGQ  902  0.063  0.049  0.524  0.996  80  0
471312  _-Z6wFjXtGQ  902  0.392  0.253  0.916  0.994  12  1
471313  _-Z6wFjXtGQ  902  0.392  0.253  0.916  0.994  17  1

In [11]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
train.head()

<ipython-input-11-f82e9fb48e88>:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

          original_vido_id video_id frame_id path labels
0  -5KQ66BBWC4 0 0 -5KQ66BBWC4/-5KQ66BBWC4_000001.jpg ""
1  -5KQ66BBWC4 0 1 -5KQ66BBWC4/-5KQ66BBWC4_000002.jpg ""
2  -5KQ66BBWC4 0 2 -5KQ66BBWC4/-5KQ66BBWC4_000003.jpg ""
3  -5KQ66BBWC4 0 3 -5KQ66BBWC4/-5KQ66BBWC4_000004.jpg ""
4  -5KQ66BBWC4 0 4 -5KQ66BBWC4/-5KQ66BBWC4_000005.jpg ""

In [6]:
rec=train.iloc[0,0]
rec

'-5KQ66BBWC4 0 0 -5KQ66BBWC4/-5KQ66BBWC4_000001.jpg ""'

In [15]:
original_vido_id, video_id, frame_id, path, labels = rec.split(' ')

In [14]:
rec.split(' ')

['-5KQ66BBWC4', '0', '0', '-5KQ66BBWC4/-5KQ66BBWC4_000001.jpg', '""']

In [46]:
df_train = pd.DataFrame(train.iloc[:,0].str.split(' ').tolist(),
                                 columns = ['original_vido_id','video_id', 'frame_id', 'path', 'labels'])
print(df_train.shape)
df_train.head()

(1729931, 5)

  original_vido_id video_id frame_id                                path labels
0  1j20qq1JyX4      235      0        1j20qq1JyX4/1j20qq1JyX4_000001.jpg  ""
1  1j20qq1JyX4      235      1        1j20qq1JyX4/1j20qq1JyX4_000002.jpg  ""
2  1j20qq1JyX4      235      2        1j20qq1JyX4/1j20qq1JyX4_000003.jpg  ""
3  1j20qq1JyX4      235      3        1j20qq1JyX4/1j20qq1JyX4_000004.jpg  ""
4  1j20qq1JyX4      235      4        1j20qq1JyX4/1j20qq1JyX4_000005.jpg  ""

In [47]:
targeted_vido = ['_-Z6wFjXtGQ', '_7oWZq_s_Sk', '_145Aa_xkuE', '_a9SWtcaNj8', '_Ca3gOdOHxU']
df_target = df_train[df_train.original_vido_id.isin(targeted_vido)]
print(df_target.shape)
df_target.head()

(27030, 5)

       original_vido_id video_id frame_id                                path labels
946056  _7oWZq_s_Sk      270      0        _7oWZq_s_Sk/_7oWZq_s_Sk_000001.jpg  ""
946057  _7oWZq_s_Sk      270      1        _7oWZq_s_Sk/_7oWZq_s_Sk_000002.jpg  ""
946058  _7oWZq_s_Sk      270      2        _7oWZq_s_Sk/_7oWZq_s_Sk_000003.jpg  ""
946059  _7oWZq_s_Sk      270      3        _7oWZq_s_Sk/_7oWZq_s_Sk_000004.jpg  ""
946060  _7oWZq_s_Sk      270      4        _7oWZq_s_Sk/_7oWZq_s_Sk_000005.jpg  ""

In [36]:
df_target.original_vido_id.unique()

array(['_-Z6wFjXtGQ', '_145Aa_xkuE', '_Ca3gOdOHxU', '_a9SWtcaNj8'],
      dtype=object)

In [37]:
df_target['original_vido_id video_id frame_id path labels'] = df_target.apply(lambda x: ' '.join(x.astype(str)),axis=1)
print(df_target.shape)
df_target.head()

(108120, 6)

<ipython-input-37-64bf4f296e99>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target['original_vido_id video_id frame_id path labels'] = df_target.apply(lambda x: ' '.join(x.astype(str)),axis=1)

        original_vido_id video_id frame_id                                path labels           original_vido_id video_id frame_id path labels
3622050  _-Z6wFjXtGQ      134      0        _-Z6wFjXtGQ/_-Z6wFjXtGQ_000001.jpg  ""     _-Z6wFjXtGQ 134 0 _-Z6wFjXtGQ/_-Z6wFjXtGQ_000001.jpg ""
3622051  _-Z6wFjXtGQ      134      1        _-Z6wFjXtGQ/_-Z6wFjXtGQ_000002.jpg  ""     _-Z6wFjXtGQ 134 1 _-Z6wFjXtGQ/_-Z6wFjXtGQ_000002.jpg ""
3622052  _-Z6wFjXtGQ      134      2        _-Z6wFjXtGQ/_-Z6wFjXtGQ_000003.jpg  ""     _-Z6wFjXtGQ 134 2 _-Z6wFjXtGQ/_-Z6wFjXtGQ_000003.jpg ""
3622053  _-Z6wFjXtGQ      134      3        _-Z6wFjXtGQ/_-Z6wFjXtGQ_000004.jpg  ""     _-Z6wFjXtGQ 134 3 _-Z6wFjXtGQ/_-Z6wFjXtGQ_000004.jpg ""
3622054  _-Z6wFjXtGQ      134      4        _-Z6wFjXtGQ/_-Z6wFjXtGQ_000005.jpg  ""     _-Z6wFjXtGQ 134 4 _-Z6wFjXtGQ/_-Z6wFjXtGQ_000005.jpg ""

In [38]:
df_target.drop(columns=['original_vido_id', 'video_id', 'path', 'labels', 'frame_id'], inplace=True)
print(df_target.shape)
df_target.head()

(108120, 1)

/Users/jessy/opt/anaconda3/envs/slowfast/lib/python3.9/site-packages/pandas-1.2.0rc0-py3.9-macosx-10.9-x86_64.egg/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  original_vido_id video_id frame_id path labels
3622050  _-Z6wFjXtGQ 134 0 _-Z6wFjXtGQ/_-Z6wFjXtGQ_000001.jpg ""
3622051  _-Z6wFjXtGQ 134 1 _-Z6wFjXtGQ/_-Z6wFjXtGQ_000002.jpg ""
3622052  _-Z6wFjXtGQ 134 2 _-Z6wFjXtGQ/_-Z6wFjXtGQ_000003.jpg ""
3622053  _-Z6wFjXtGQ 134 3 _-Z6wFjXtGQ/_-Z6wFjXtGQ_000004.jpg ""
3622054  _-Z6wFjXtGQ 134 4 _-Z6wFjXtGQ/_-Z6wFjXtGQ_000005.jpg ""

In [40]:
df_target.to_csv('data/ava/frame_lists_new/train.csv')